@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

body {
  @apply overflow-x-hidden bg-lime-200;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}
